:root{
    --background-color-mi-mines:linear-gradient(90deg, #064FA6 0%, #0464D5 50%, #064FA6 100%);;
    --background-color-button-get-signal:linear-gradient(90deg, #2E7408 0%, #59A300 50%, #2E7408 100%);;
    --background-color-button-game-here:linear-gradient(90deg, #FF8007 0%, #F7B719 50%, #FF8007 100%);;
    --background-color-main-panel:#003598;
    --background-color-button-replat:#0656BF;
    --background-color-selector:#0167A5;
    --color-selector-border:#0D5384;
}
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

body{
    background: url("BackgroundMiMInes.jpg") center center / contain;
    color: white;
}

.Back{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    background: url("BackgroundMiMInes.jpg") center center / contain;;
}

#main{
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

}
.headerMines{
    top: 5vh;
    height: 15vh;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerMines img{
    height: 100%;
}
.star1{
    position: absolute;
    top: 37vh;
    height: 38vh;
    left: -41vw;
}
.star2{
    position: absolute;
    top: 2vh;
    height: 38vh;
    right: -55vw;
}


.selectorMines{
    position: relative;
    height: 4vh;
    top: 22vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dropdownMines{
    position: relative;
    height: 100%;
    display: flex;
    width: 50%;
    background: var(--background-color-selector);
    border-radius: 30px;
    border: 1px solid var(--color-selector-border);
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.selector{
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPanel{
    position: absolute;
    width: 96%;
    height: 18%;
    margin: 0 2% 2% 2%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-color-main-panel);
    border-radius: 10px;
    margin-bottom: 40px;
}
.rowButton{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin: -5px;
}
.replayButton{
    height: 60%;
    aspect-ratio: 1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color-button-replat);
    border: 0.1vh solid black;
    box-shadow: 1px 3px 1px rgb(0 0 0 / 42%);
}
.replayButton img{
    height: 70%;
    width: 70%;

}
.getSignal{
    position: relative;
    height: 60%;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--background-color-button-get-signal);
    border: 0.3vh solid black;
    gap: 4%;
    box-shadow: 1px 3px 1px rgb(0 0 0 / 42%);
}
.getSignal img{
    height: 55%;
    aspect-ratio: 1;
    padding: 0 0 0 7%;
}
.getSignal a {
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5px;
    font-family: 'Intro';
}

.getSignal:active, .replayButton:active {
    height: 55%;
    scale: 0.9;
}


.inter {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: 'Intro';
}
.BackArrow{
    position: absolute;
    top: 1vh;
    left: 5vw;
    z-index: 2;
}
.BackArrow img{
    height: 6vh;
}
.dropdown {
    right: 7%;
    position: relative;
    display: inline-block;
}

/* Стили для кнопки */
.dropdown-button {
    height: 60%;
    aspect-ratio: 1;
    background: url(Arrow.svg) no-repeat center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Контейнер для выпадающего списка */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color-selector);
    width: 45vw;
    max-height: 200px; /* Ограничение по высоте */
    overflow-y: auto; /* Добавляем скролл */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
    margin-top: 10px;
    right: 0;
}

/* Стили для каждого элемента списка */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: var(--color-selector-border);
}

/* Показываем список при наведении */
/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/* Убираем стандартный стиль полосы прокрутки в Webkit-браузерах */
.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.vineet {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Intro';
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: opacity 2s ease-in-out;
}

.vineet img {
    width: 50px;
    height: 75px;
    margin-right: 5px;
}

@font-face {
    font-family: 'Intro';
    src: url('intro.otf') format('opentype');
}